.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-color: #3C4142;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    padding-left: 2vw;
    position: relative;
    padding-right: 2vw;
    border: 2px solid black;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    height: 80vh;
}

.github {
    position: grid;
    border: 2px solid white;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 10vw;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 15px;
    margin-right: 20px;
    max-width: 15%;
    height: 5vh;
    min-width: 5%;
    vertical-align: middle;
    padding-bottom: 15px;
    border-radius: 50px;
    background-color: transparent;
}

.mainScreen1 {
   
}

.header {
    display: flex;
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    justify-self: center;
    text-align: center;
    white-space: nowrap;
    padding: 10px 16px;
    margin: 0px;
    border-bottom: black;
    background: #555;
    color: #f1f1f1;
  }

 .menu {
    margin-top: auto;
    margin-bottom: auto;
    position: grid;
    border: 2px solid white;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 15%;
    height: 5vh;
    margin-left: 20px;
    min-width: 5%;
    padding-top: 15px;
    vertical-align: middle;
    padding-bottom: 15px;
    border-radius: 50px;
    background-color: transparent;
 }

.text {
    color: #F0F8FF;
}

.title {
    color: #00BFFF;
    word-wrap:normal;
    line-height: 18vw;
    grid-column: 1 / 4;
    grid-row: 2/5;
    font-size: min(60vw, 20vw);
    justify-self: left center;
    align-items: top ;
    z-index: 1;
}

.profileimage { 
    grid-column: 4/7;
    grid-row: 1/4;
    max-width: 60vw;
    max-height: 70vh;
    min-height: 20vh;
    overflow-x: hidden;
    min-width: 20vh;
    border-radius: 100%;
    justify-self: right;
    align-self: center;
}

.white {
    color: white;
}

.black {
    color: black;
}

.logo {
    width: 7rem;
    margin: 1rem;
    font-size: 25px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.block {
    height:100px;
    width:200px;
    text-align:left;
}

html {
    min-width: 500px;
    position: relative;
    }
